@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("/public/fonts/Poppins/Poppins-Regular.ttf"),
    format("truetype");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  /* cursor: none; */
  scroll-padding-top: 150px;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

.top {
  --offset: 50px;
  position: fixed;
  right: 50px;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
}
